<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mezclar Playlist</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="background-snoopy"></div>
  <div class="centered-container">
    <h1>Musicorum</h1>
    <form action="/mix" method="post">
      <label for="playlist_url">URL de la playlist Spotify:</label>
      <input
        type="text"
        id="playlist_url"
        name="playlist_url"
        placeholder="Pega aquí tu playlist"
        required
      />
      <button type="submit">Mezclar</button>
    </form>
  </div>
</body>
</html>

